.sigma_header-absolute .sigma_subheader{
    padding: 240px 0 180px;
  }
  .sigma_subheader {
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .sigma_subheader .br{
    z-index: 0;
    right: -150px;
  }
  .sigma_subheader .bl{
    left: -200px;
  }
  .sigma_subheader .bl,
  .sigma_subheader .tr{
    z-index: -1;
  }
  
  .sigma_subheader .container {
    position: relative;
  }
  
  .sigma_subheader .sigma_subheader-inner {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
  }
  
  .sigma_subheader .sigma_subheader-inner h1 {
    font-size: 72px;
    margin-bottom: 0;
  }
  
  .sigma_subheader .sigma_subheader-inner p {
    max-width: 550px;
    color: #999b9f;
  }
  
  .sigma_subheader .breadcrumb {
    background-color: transparent;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    z-index: 2;
    position: relative;
  }
  
  .sigma_subheader .breadcrumb li {
    font-size: 16px;
    padding: 0;
  }
  
  .sigma_subheader .breadcrumb li a {
    color: var(--thm-base);
    font-weight: 600;
    display: inline-block;
  }
  
  .sigma_subheader .breadcrumb li a:hover {
    text-decoration: none;
    color: var(--thm-base-hover);
  }
  
  .sigma_subheader .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    padding: 0 12px;
  }
  
  /* Style 2 */
  .sigma_subheader.style-3 .sigma_subheader-inner,
  .sigma_subheader.style-2 .sigma_subheader-inner,
  .sigma_subheader.style-11 .sigma_subheader-inner {
    text-align: left;
    margin: 0;
  }
  
  .sigma_subheader.style-2 .breadcrumb,
  .sigma_subheader.style-11 .breadcrumb {
    justify-content: flex-start;
  }
  
  /* Style 3 */
  .sigma_subheader.style-3 {
    padding: 0;
  }
  
  .sigma_subheader.style-3 .sigma_subheader-inner {
    padding: 140px 0;
  }
  
  .sigma_subheader.style-3 .breadcrumb {
    position: absolute;
    bottom: 0;
    right: 15px;
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
  }
  
  .sigma_subheader.style-3 .breadcrumb li,
  .sigma_subheader.style-3 .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: var(--thm-b-text);
  }
  
  /* Style 4 */
  .sigma_subheader.style-4 .sigma_subheader-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 185px;
    background-color: transparent;
  }
  
  .sigma_subheader.style-4 .sigma_subheader-shape svg {
    width: calc(125% + 1.3px);
    height: 185px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sigma_subheader.style-4 .sigma_subheader-shape svg path {
    fill: #ffffff;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  /* Style 5 */
  
  /* Style 6 */
  .sigma_subheader.style-6 {
    padding: 60px 0;
  }
  
  .sigma_subheader.style-6 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sigma_subheader.style-6 .sigma_subheader-inner {
    margin: 0;
    text-align: left;
  }
  
  .sigma_subheader.style-6 .sigma_subheader-inner h1 {
    font-size: 38px;
  }
  
  /* Style 7 */
  .sigma_subheader.style-9,
  .sigma_subheader.style-8,
  .sigma_subheader.style-7 {
    padding: 280px 0 40px;
  }
  
  .sigma_subheader.style-9 .sigma_subheader-inner,
  .sigma_subheader.style-8 .sigma_subheader-inner,
  .sigma_subheader.style-7 .sigma_subheader-inner {
    margin: 0;
    text-align: left;
  }
  
  .sigma_subheader.style-9 .breadcrumb,
  .sigma_subheader.style-8 .breadcrumb,
  .sigma_subheader.style-7 .breadcrumb {
    justify-content: flex-start;
  }
  
  .sigma_subheader.style-9::before,
  .sigma_subheader.style-8::before,
  .sigma_subheader.style-7::before {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .4), transparent);
  }
  
  .sigma_subheader.style-8 .sigma_stroke-text {
    text-align: left;
    opacity: 1;
    font-style: italic;
  }
  
  .sigma_subheader.style-9 {
    border-bottom: 2px solid var(--thm-border);
  }
  
  .sigma_subheader.style-9 .sigma_subheader-inner h1 {
    color: var(--thm-secondary);
  }
  
  /* Style 10 */
  .sigma_subheader.style-10 {
    padding: 40px 0;
  }
  
  .sigma_subheader.style-10 .sigma_subheader-inner {
    text-align: left;
    margin: 0;
  }
  
  .sigma_subheader.style-10 .sigma_subheader-inner h1 {
    color: var(--thm-secondary);
    display: inline-block;
    position: relative;
  }
  
  .sigma_subheader.style-10 .sigma_subheader-inner h1::after,
  .sigma_subheader.style-10 .sigma_subheader-inner h1::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--thm-secondary);
    width: 100vw;
    height: 20px;
  }
  
  .sigma_subheader.style-10 .sigma_subheader-inner h1::after {
    margin-left: 20px;
  }
  
  .sigma_subheader.style-10 .sigma_subheader-inner h1::before {
    right: 100%;
    margin-right: 20px;
  }
  
  /* Style 11 */
  
  .sigma_subheader.style-11 .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    content: "|";
  }
  